:root{
    --base-color: #acd1df;
    --base-variant: #e3f4fa;
    --text-color: black;
    --secondary-text: #373636;
    --base-nav: #c09b6c;
    --logo-color: #e8d6bf;
    --link-color: #b3e0f0;
    --primary-color: #3a435d;
    --text-highlight: #d2a162;
    --title: #e5f3e5;
    --home-back: #8aaacc;
    --members: #16456a;
    --button-swiper: #617891;
    --pangination-bullet: #25344F;
}

.darkmode{
    --base-color: #3689a8;
    --base-variant: #25344f;
    --text-color: white;
    --secondary-text: whitesmoke;
    --base-nav: #f4e4c3;
    --logo-color: #a46f4c;
    --link-color: #768e96;
    --primary-color: #8390b6;
    --text-highlight: #f0c775;
    --title: #9ABDDC;
    --home-back: #617891;
    --members: #84b9e1;
    --button-swiper: #3d547e;
    --pangination-bullet: #617891;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

body{
    background-color: var(--base-color);
    color: var(--text-color);
}

html {
    scroll-behavior: smooth;
}

.title {
    text-align: left;
    padding: 3rem;
    font-size: 50px;
    color: var(--text-highlight);
}

.navbar {
    background: var(--base-nav);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    font-weight: bold;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo{
    color: var(--logo-color);
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

#navbar__logo img{
    width: 200px;
    height: 150px;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    margin-right: -3rem;
}

.navbar__item{
    height: 80px;
}

.navbar__links{
    color: var(--logo-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

#theme-switch{
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50px;
    background-color: var(--base-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    left: 20px;
    cursor: pointer;
}

#theme-switch svg{
    fill: var(--primary-color);
}

#theme-switch svg:last-child{
    display: none;
}

.darkmode #theme-switch svg:first-child{
    display: none;
}

.darkmode #theme-switch svg:last-child{
    display: block;
}

.navbar__links:hover{
    color: var(--text-highlight);
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: var(--base-nav)
    }

    .navbar__menu.active {
        background: var(--base-nav);
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: var(--base-variant);
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translatey(8px) rotate(45deg);
    }

        #mobile-menu.is-active .bar:nth-child(3) {
        transform: translatey(-8px) rotate(-45deg);
    }

    #theme-switch {
        margin-top: 100px;
        margin-right: 40px;
    }
}

/* Main Section */

.main {
    background-color: var(--base-variant);
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: var(--base-variant);
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__content h1{
    font-size: 3rem;
    text-align: center;
}

.main__content h2{
    font-size: 2rem;
    color: var(--text-highlight);
    text-align: center;
}

.main__content p{
    margin-top: 0.5rem;
    font-size: 1.3rem;
    font-weight: 100;
    text-align: justify;
}

.main__image--container img{
    width: 500px;
    height: 500px;
    padding-left: 50px;
}

@media screen and (max-width: 960px) {
    .main__container{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 110vh;
    }

    .main__content{
        text-align: center;
        margin-bottom: 4rem;
    }

    .main__content h1{
        font-size: 3.3rem;
        margin-top: 2rem;
        text-align: center;
    }

    .main__content h2{
        font-size: 2.3rem;
        text-align: center;
    }

    .main__content p{
        margin-top: 1rem;
        font-size: 1.4rem;
        text-align: justify;
    }

    .main__image--container img{
        width: 350px;
        height: 350px;
    }
}

@media screen and (max-width: 1124px) {
    .main__content h1{
        font-size: 2.6rem;
        text-align: center;
    }
    .main__content h2{
        font-size: 1.3rem;
        text-align: center;
    }

    .main__content p{
        margin-top: 1rem;
        font-size: 1.4rem;
        text-align: justify;
    }
}

/* Home Section */

.home {
    background-color: var(--home-back);
}

.home h1{
    padding-top: 2rem;
    text-align: center;
    font-size: 3rem;
}

.home__container {
    display: flex;
    grid-template-columns: 0.5fr 0.5fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 100vh;
    background-color:var(--home-back);
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.profile__PM {
    float: left;
    padding: 25px;
    border: 2px solid;
    width: 500px;
    background-color: var(--base-variant);
}

.profile__PM h2{
    text-align: center;
}

.profile__PM p{
    text-align: justify;
}

.home__container h2{
    font-size: 2rem;
    color: var(--members);
    text-align: center;
    margin-bottom: 26px;
}

.PM__img{
    position:relative;
    overflow:hidden;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin-left: 1rem;
}

.PM__img img{
    position:absolute;
    height: auto;
    width: auto;    
    max-width:100%;
}

.profile__developers {
    float: left;
    margin-left: 150px;
    margin-bottom: 50px;
}

.profile__developers h4{
    text-align: center;
}

.profile__developers h5{
    text-align: center;
}

.profiles__section {
    float: left;
    padding-left: 50px;
}

.roles{
    font-weight: bold;
}

.DV__img{
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: 19px;
}

.DV__img img{
    position: absolute;
    height: auto;
    width: auto;    
    max-width:100%;
}

.centered img {
    position:absolute;
    top:50%;    
    transform:translateY(-40%);
}

@media screen and (max-width: 768px) {
    .home__container{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 200vh;
    }

    .home__content{
        text-align: center;
        margin-bottom: 4rem;
    }

    .home__content h1{
        font-size: 3.3rem;
        margin-top: 2rem;
        text-align: center;
    }

    .home__content h2{
        font-size: 2.3rem;
        text-align: center;
    }

    .profiles__section p{
        font-size: 0.9rem;
        text-align: center;
    }

    .PM__img img{
        width: 350px;
        height: 350px;
    }

    .profile__PM {
        margin-top: 0px;
    }

    .profile__developers {
        margin-top: 5px;
        padding-left: 1rem;
    }

    .profiles__section {
        padding-left: 7px;
        margin: 15px 10px;
    }

    .DV__img {
        height: 100px;
        width: 100px;
    }
}

@media screen and (max-width: 1253px) {
    .home{
        height: 150vh;
    }
    
    .DV__img {
        height: 120px;
        width: 120px;
    }

    .home__content h2{
        font-size: 1rem;
        text-align: center;
    }

    .profiles__section p{
        font-size: 0.9rem;
        text-align: center;
    }

    .PM__img img{
        width: 350px;
        height: 350px;
    }

    .profile__PM {
        margin-top: 0px;
    }

    .profile__developers {
        padding-top: 100px;
        padding-left: 1rem;
    }

    .profiles__section {
        padding-left: 10px;
    }

    .DV__img {
        height: 100px;
        width: 100px;
    }
}

/*Statement*/

.statement {
    background-color: var(--base-variant);
    height: 100%;
}

.statement h2{
    size: 3rem;
    text-align: center;
}

/*Review*/

.coming_soon {
    background-color: var(--base-variant);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}

.card .card-image {
    position: relative;
}

.card .card-image img {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.card .card-image .card-tag {
    position: absolute;
    left: 25px;
    top: 25px;
    color: #6366f1;
    border-radius: 30px;
    font-weight: 600;
    font-size: 0.75rem;
    padding: 5px 15px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    background: rgba(255, 255, 255, 0.9);
}

.card .card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px 25px 25px;
}

.card .card-content .card-title {
    color: #111111;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 15px;
}

.card .card-content .card-text {
    color: #747474;
    font-size: 0.95rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.card .card-content .card-footer {
    display: flex;
    align-items: center;
    padding-top: 15px;
    margin-top: auto;
    justify-content: space-between;
    border-top: 1px solid rgba(0,0, 0, 0.08);
}

.card .card-content .card-button {
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 0.81rem;
    font-weight: 600;
    text-decoration: none;
    background: linear-gradient(135deg, #25344F 0%, #617891 100%);
    box-shadow: 0 8px 15px rgba(99, 102, 241, 0.2);
    transition: all 0.3s ease;
}

.card .card-content .card-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(99, 102, 241, 0.3);
}

.wrapper {
    max-width: 1100px;
    padding: 20px 10px;
    margin: 0 60px 35px;
    overflow: hidden;
}

.wrapper .card {
    height: auto;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0,0, 0, 0.05);
    transition: transform 0.3s ease;
}

.wrapper .card:hover {
    transform: translateY(-10px);
}

.wrapper .swiper-pagination-bullet {
    height: 15px;
    width: 15px;
    overflow: hidden;
    opacity: 1;
    background: var(--pangination-bullet);
}

.wrapper .swiper-pagination-bullet-active::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: var(--button-swiper);
    transform: scaleX(0);
    transform-origin: left center;
    animation: autoplay-loading 5s linear forwards;
}

.container:hover .wrapper .swiper-pagination-bullet-active::before {
    animation-play-state: paused;
}

@keyframes autoplay-loading {
    100% {
        transform: scaleX(1);
    }
}

.wrapper :where(.swiper-button-prev, .swiper-button-next) {
    color: var(--button-swiper);
    margin-top: -35px;
    transition: all 0.3s ease;
}

.wrapper :where(.swiper-button-prev, .swiper-button-next):hover {
    color: var(--pangination-bullet);
}

@media screen and (max-width: 768px) {
    .wrapper {
        margin: 0 10px 25px;
    }

    .wrapper :where(.swiper-button-prev, .swiper-button-next) {
        display: none;
    }
}