:root{
    --base-color: #acd1df;
    --base-variant: #e3f4fa;
    --text-color: black;
    --secondary-text: rgb(55, 54, 54);
    --base-nav: #16456a;
    --logo-color: #f0f7fe;
    --link-color: #e3f4fa;
    --primary-color: #3a435d;
    --text-highlight: #368cd1;
    --title: #e5f3e5;
    --home-back: #75afc5;
    --members: #16456a;
}

.darkmode{
    --base-color: #3689a8;
    --base-variant: #2b5563;
    --text-color: white;
    --secondary-text: whitesmoke;
    --base-nav: #4893cc;
    --logo-color: #rgb(101, 106, 112);
    --link-color: #768e96;
    --primary-color: #8390b6;
    --text-highlight: #78aad5;
    --title: #9ABDDC;
    --home-back: #4b8197;
    --members: #84b9e1;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

body{
    background-color: var(--base-color);
    color: var(--text-color);
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.title {
    text-align: center;
    padding: 3rem;
    font-size: 50px;
    color: darkblue;
}

.navbar {
    background: var(--base-nav);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    font-weight: bold;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo{
    color: var(--logo-color);
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    margin-right: -3rem;
}

.navbar__item{
    height: 80px;
}

.navbar__links{
    color: var(--logo-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

#theme-switch{
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50px;
    background-color: var(--base-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    left: 20px;
}

#theme-switch svg{
    fill: var(--primary-color);
}

#theme-switch svg:last-child{
    display: none;
}

.darkmode #theme-switch svg:first-child{
    display: none;
}

.darkmode #theme-switch svg:last-child{
    display: block;
}

.navbar__links:hover{
    color: #80a7cd;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: var(--base-nav)
    }

    .navbar__menu.active {
        background: var(--base-nav);
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #e3f4fa;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translatey(8px) rotate(45deg);
    }

        #mobile-menu.is-active .bar:nth-child(3) {
        transform: translatey(-8px) rotate(-45deg);
    }
}

/* Main Section */

.main {
    background-color: var(--base-variant);
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: var(--base-variant);
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__content h1{
    font-size: 3rem;
    text-align: center;
}

.main__content h2{
    font-size: 2rem;
    color: var(--text-highlight);
    text-align: center;
}

.main__content p{
    margin-top: 0.5rem;
    font-size: 1.3rem;
    font-weight: 100;
    text-align: justify;
}

.main__image--container img{
    width: 500px;
    height: 500px;
    padding-left: 50px;
}

@media screen and (max-width: 960px) {
    .main__container{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 110vh;
    }

    .main__content{
        text-align: center;
        margin-bottom: 4rem;
    }

    .main__content h1{
        font-size: 3.3rem;
        margin-top: 2rem;
        text-align: center;
    }

    .main__content h2{
        font-size: 2.3rem;
        text-align: center;
    }

    .main__content p{
        margin-top: 1rem;
        font-size: 1.4rem;
        text-align: justify;
    }

    .main__image--container img{
        width: 350px;
        height: 350px;
    }
}

@media screen and (max-width: 1124px) {
    .main__content h1{
        font-size: 2.6rem;
        text-align: center;
    }
    .main__content h2{
        font-size: 1.3rem;
        text-align: center;
    }

    .main__content p{
        margin-top: 1rem;
        font-size: 1.4rem;
        text-align: justify;
    }
}

/* Home Section */

.home {
    background-color: var(--home-back);
}

.home__container {
    display: flex;
    grid-template-columns: 0.5fr 0.5fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color:var(--home-back);
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.profile__PM {
    float: left;
    margin-left: 66px;
}

.home__container h2{
    font-size: 2rem;
    color: var(--members);
    text-align: center;
    margin-bottom: 26px;
}

.home__container p{
    text-align: center;
    margin-top: 2px;
    color: whitesmoke;
}

.PM__img img{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 14px;
}

.profile__developers {
    float: left;
    margin-left: 105px;
}

.profiles__section {
    float: left;
    padding-left: 5%;
}

.DV__img img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 14px;
    margin-top: 10px;
}

@media screen and (max-width: 960px) {
    .home__container{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 150vh;
    }

    .home__content{
        text-align: center;
        margin-bottom: 4rem;
    }

    .home__content h1{
        font-size: 3.3rem;
        margin-top: 2rem;
        text-align: center;
    }

    .home__content h2{
        font-size: 2.3rem;
        text-align: center;
    }

    .profiles__section p{
        font-size: 0.9rem;
        text-align: center;
    }

    .PM__img img{
        width: 350px;
        height: 350px;
    }
}

/*Review*/

.review {
    background-color: #e3f4fa;
}

.review .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.review .box-container .box {
    text-align: center;
    padding: 1rem;
    border: .1rem solid #16456a;
    box-shadow: var(--box-shadow);
    flex: 1 1 30rem;
    border-radius: 0.5rem;
    margin-top: 6rem;
}

.review .box-container .box img{
    height: 12rem;
    width: 12rem;
    border: 1px solid #16456a;
    margin-top: -8rem;
    object-fit: contain;
    border-radius: 15%;
}

.review .box-container .box h3{
    font-size: 2.5rem;
    color: #16456a;
    padding: 0.5rem 0;
}

.review .box-container .box p{
    font-size: 1.5rem;
}