* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

<<<<<<< Updated upstream
<<<<<<< Updated upstream
=======
=======
>>>>>>> Stashed changes
.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}


<<<<<<< Updated upstream
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
.navbar {
    background: #16456a;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    font-weight: bold;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo{
    background-color: #f0f7fe;
    background-image: linear-gradient(to top, #f0f7fe 0%, 
    #80a7cd 100%);
    background-image: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.fa-gem{
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item{
    height: 80px;
}

.navbar__links{
    color: #e3f4fa;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
<<<<<<< Updated upstream
<<<<<<< Updated upstream
=======
=======
>>>>>>> Stashed changes
}

.navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-emphasis: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
}

.navbar__links:hover{
    color: #80a7cd;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #16456a;
    }

    .navbar__menu.active {
        background: #16456a;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #e3f4fa;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translatey(8px) rotate(45deg);
    }

        #mobile-menu.is-active .bar:nth-child(3) {
        transform: translatey(-8px) rotate(-45deg);
    }
}

/* Main Section */

.main {
    background-color: #e3f4fa;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color:#e3f4fa;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__content h1{
    font-size: 3rem;
    background-color: #00000000;
    background-image: linear-gradient(to top, #0000 0%, 
    #49777d 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-align: center;
}

.main__content h2{
    font-size: 2rem;
    background-color: #368cd1;
    background-image: linear-gradient(to top, #368cd1 0%, 
    #00000000 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-align: center;
}

.main__content p{
    margin-top: 0.5rem;
    font-size: 1.3rem;
    font-weight: 100;
    text-align: justify;
}

.main__image--container img{
    width: 450px;
    height: 450px;
}

@media screen and (max-width: 960px) {
    .main__container{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 110vh;
    }

    .main__content{
        text-align: center;
        margin-bottom: 4rem;
    }

    .main__content h1{
        font-size: 3.3rem;
        margin-top: 2rem;
        text-align: center;
    }

    .main__content h2{
        font-size: 2.3rem;
        text-align: center;
    }

    .main__content p{
        margin-top: 1rem;
        font-size: 1.4rem;
        text-align: justify;
    }

    .main__image--container img{
        width: 350px;
        height: 350px;
    }
}

@media screen and (max-width: 1124px) {
    .main__content h1{
        font-size: 2.6rem;
        text-align: center;
    }
    .main__content h2{
        font-size: 1.3rem;
        text-align: center;
    }

    .main__content p{
        margin-top: 1rem;
        font-size: 1.4rem;
        text-align: justify;
    }
}

/* Home Section */

.home {
    background-color: hsl(197, 41%, 62%);
}

.home__container {
    display: flex;
    grid-template-columns: 0.5fr 0.5fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color:#75afc5;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.profile__PM {
    float: left;
    margin-left: 66px;
}

.home__container h2{
    font-size: 2rem;
    color: #16456a;
    text-align: center;
    margin-bottom: 26px;
}

.home__container p{
    text-align: center;
    margin-top: 2px;
    color: whitesmoke;
}

.PM__img img{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 14px;
}

.profile__developers {
    float: right;
    margin-left: 105px;
}

.profiles__section {
    float: left;
    padding-left: 5%;
}

.DV__img img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 14px;
    margin-top: 10px;
<<<<<<< Updated upstream
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
}